<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>King</title>
  <meta http-equiv="Content-Language" content="English" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="Robots" content="index,follow" />
</head>
<body>
  <form action="/read" method="get">
    <label for="url">URL</label>
    <input type="text" name="url" value="http://" />
    <input type="submit" value="Read it" />
  </form>
</body>
</html>
